/* Basic styling for body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light gray background, adjust as needed */
    margin: 0;
    padding: 0;
}

/* Container for sections */
section {
    margin: 20px;
    padding: 20px;
    background: rgba(20, 34, 46, 0.85); /* Darker background for sections */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Heading styles */
h2 {
    color: #c4d7e0;
    border-bottom: 2px solid #007bff; /* Blue border for headers */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Enable horizontal scroll if needed */
}

thead {
    background-color: #007bff; /* Dark blue background for header */
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #555; /* Darker border color */
}

tr:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Light blue highlight on hover */
}

/* Add scroll for long tables */
.table-container {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #333; /* Dark border color */
    border-radius: 4px;
}


.forecast-chart {
    background-color: #0e1a26; /* Match the dark theme */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}


p {
    padding-left: 30px;
}





.stock-summary {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(20, 34, 46, 0.9); /* Match container background */
    border-radius: 10px;
    color: #00d4ff; /* Aqua color for title */
    display: flex;
    justify-content: space-between; /* Distribute space between title and price */
    align-items: center;
}

.stock-info {
    display: flex;
    justify-content: space-between; /* Space between title and price/change */
    width: 100%; /* Ensure it takes the full width of the container */
}

.stock-name {
    font-size: 50px; /* Large font size for stock name */
    margin-right: auto; /* Push the price/change to the right */
}

.stock-price {
    font-size: 24px; /* Font size for price and change */
    text-align: right; /* Right-align the price and change */
}

.stock-price .price {
    font-size: 36px; /* Large font size for price */
    display: block; /* Ensure each item is on a new line */
    margin-bottom: 5px;
}

.stock-price .change {
    font-size: 18px; /* Font size for change */
    color: #00d4ff; /* Default color for positive change */
}

.stock-price .change.negative {
    color: red; /* Color for negative change */
}
