<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Information</title>
    <link id="theme-stylesheet" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='day_mode.css') }}" id="day-mode-stylesheet" disabled>
    <link rel="stylesheet" href="{{ url_for('static', filename='stock_styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="scripts.js"></script>
</head>
<body>
    <!-- Static content here -->
    <button class="toggle-sidebar-btn">☰</button>

    <!-- Side navigation bar -->
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="profile">Profile</a>
        <a href="preferences">Preferences</a>
        <a href="upload">Upload CSV</a>
        <a href="logout">Logout</a>
    </div>

    <!-- Main content container -->
    <div class="container">
        <main id="stock-body">
            {{ body_content|safe }}
        </main>
    </div>

    <footer>
        <p>&copy; 2024 Malik Industries</p>
    </footer>
</body>
</html>
