<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Information</title>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" id="theme-stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stock.css') }}" id="theme-stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/day_mode.css') }}" id="day-mode-stylesheet" disabled>
</head>
<body>
    
    <div class="navbar">
        <!-- Hamburger button to toggle the sidebar -->
        <button class="toggle-sidebar-btn">☰</button>
        <h1>STOCK DASHBOARD</h1>

        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="profile">Profile</a>
            <a href="upload">Upload CSV</a>
            <a href="logout">Logout</a>
        </div>
    </div>

    <!-- Main content container -->
    <div class="container">
        <main id="stock-body">
            {{ body_content|safe }}
        </main>
    </div>

    <footer>
        <p>&copy; 2024 Malik Industries</p>
    </footer>
</body>
</html>
