<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV - Stock Monitoring App</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" id="theme-stylesheet">
</head>
<body>

    <div class="navbar">
        <h1>STOCK DASHBOARD</h1>

        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="profile">Profile</a>
            <a href="upload">Upload CSV</a>
            <a href="logout">Logout</a>
        </div>
    </div>

    <!-- Main content container -->
    <div class="container">
        <section class="csv-upload">
            <h2 class="page-title">Upload Your Historical Data</h2>
            <div class="main-content">
                <form action="/upload-csv" method="POST" enctype="multipart/form-data">
                    <label for="csv-file">Choose CSV File:</label>
                    <input type="file" id="csv-file" name="csv-file" accept=".csv" required>

                    <button type="submit">Upload</button>
                </form>
            </div>
        </section>
    </div>
</body>
</html>
